.imageZoomPreview{
  pointer-events: none;
  position:fixed;
  top:0px;
  left:0px;
  width:360;
  height:360;
  overflow: hidden;
  img{
    position:absolute;
  }
  z-index:99999;
}

.imageZoom_container{
  position:relative;
  display: block;
  .imageZoom_thumb{

  }
  .imageZoom_glass{
    box-sizing: border-box;
    pointer-events: none;
    width:0px;
    height:0px;
    position: absolute;
    border: solid 1px #ccc;
    z-index: 1000;
    top: 0;
    left: 0;
  }
}

.imageZoomPreview_Border{
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
}

.imageZoom_fullOpaque{
  opacity: 1.0;
}
.imageZoom_opaque{
  opacity: 0.5;
}
.imageZoom_on{
  display: block;
}

.imageZoom_off{
  display: none;
}